*{
    margin : 0;
    padding : 0;


}
.font-style-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }

#body{
    max-width: 1600px;
 
}

.nav{
    display : flex;
    justify-content: space-between;
    
    align-items: center;
    height: 92px;
    padding-left: 120px;
    padding-right: 120px;

}

.nav-links{
    display : flex;
    list-style-type: none;
    font-size: 16px;
    gap : 32px;
}
.logo-img{
    width: 139px;
    height: 60px;
}
.green-btn{
    font-size: 16px;
    background-color: #30B868;
    border-radius: 4px;
    border : none;
    color: white;
    padding : 12px;

}


.banner{
    background-image: url(assets/hero-bg.png);
    height: 674px;
    display:flex;
    align-items: center;
    justify-content: center;

    padding-left: 120px;
    padding-right: 120px;
    
}
.banner-container{
    display: flex;  
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    gap: 28px;
}
.highlight-text{
    font-weight: bold;
    font-size: 72px;
    color : white;
}
.green-text{
    font-weight: bold;
    font-size: 72px;
    color :#30B868;
}

.subtitle{
    font-size: 18px;
    color : white;
}
.white-btn{
    color :white;
    border-radius: 4px;
    background-color: transparent;
    padding : 12px;
    border-color: white;
}
.early{
    background-color: white;
    color: #30B868;
    border-radius: 24px;
    padding : 6px;
    border: none;
}
.btn-container{
    display: flex;
    flex-direction: row;
    gap: 16px;
}