*{
    margin : 0;
    padding : 0;


}
button, li, #logo-img, i {
    transition: all 0.25s ease;
    cursor: pointer;
  }
button:hover {
    opacity: 0.85;
  }
.font-style-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }

#body{
    max-width: 1600px;
 
}

.nav{
    display : flex;
    justify-content: space-between;
    
    align-items: center;
    height: 92px;
    padding-left: 120px;
    padding-right: 120px;

}

.nav-links{
    display : flex;
    list-style-type: none;
    font-size: 16px;
    gap : 32px;
}
.logo-img{
    width: 139px;
    height: 60px;
}
.green-btn{
    font-size: 16px;
    background-color: #49986a;
    border-radius: 4px;
    border : none;
    color: white;
    padding : 12px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);

}


.banner{
    background-image: url(assets/hero-bg.png);
    height: 674px;
    display:flex;
    align-items: center;
    justify-content: center;

    padding-left: 120px;
    padding-right: 120px;
    
}
.banner-container{
    display: flex;  
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    gap: 28px;
}
.highlight-text{
    font-weight: bold;
    font-size: 72px;
    color : white;
}
.green-text{
    font-weight: bold;
    font-size: 72px;
    color :#49986a;
}

.banner-subtitle{
    font-size: 18px;
    color : white;
}
.white-btn{
    color :white;
    border-radius: 4px;
    background-color: transparent;
    padding : 12px;
    border-color: white;
}
.early{
    background-color: white;
    color: #49986a;
    border-radius: 24px;
    padding : 6px;
    border: none;
}
.btn-container{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.card > button {
    width: 60px;
    height: 60px;
    border : none;
    background-color :rgba(249, 85, 85, 1);
    border-radius : 50%;
}
.card > h3 {
    font-size: 24px;
    text-align: center;
}
.card > p{
    font-size: 16px;
    color: gray;
    text-align: center;
}
.title{
    font-style: Bold;
    font-size: 48px;

}
.subtitle{
    font-size: 16px;
    color: gray;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 16px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 24px;
    border-radius: 12px;
}

.card-container{
    display: flex;
    flex-direction: row;
    gap : 24px;
    justify-content: space-around;
}
.notes-section{
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap : 40px;
    background-color: rgb(255, 251, 251);
} 

.second-brain{
    padding: 120px;
    display: flex;
    flex-direction: row;
    gap : 60px;
}
.right > h4 {
    color: #49986a;
}
.check {
    display: flex;
    gap : 6px;
}
.right {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    align-items: start;
}
.all-checks{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card > button i {
    font-size: 28px;   
  }

.think-container > h1 {
    font-size: 40px;

}
.think-container{
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 80px;
    gap : 24px;
}
.think-section{
    padding : 0px 120px 120px 120px;
}
.think-container>p{
    text-align: center;
}
.footer{
    background: rgba(0, 25, 49, 1);
    padding: 120px 120px 30px 120px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:80px;
} 
.f-top-right > p{
    font-size: 20px;
    color: white;

}
.footer-bottom{
    font-size: 16px;
    color: white;
    border-top: 1px solid rgba(229, 231, 235, 0.2);
    width : 100%;
    text-align: center;
    padding-top:24px;
    
}
.footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width : 100%;
    
}
.icons{
    display: flex;
    gap : 12px;
}
.icons> i{
    
    color: white;
    font-size: 18px;
}
.f-top-right{
    display: flex;
    flex-direction: column;
    gap : 16px;


}
