*{
    margin : 0;
    padding : 0;


}
.font-style-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }

#body{
    max-width: 1600px;
 
}

.nav{
    display : flex;
    justify-content: space-between;
    
    align-items: center;
    height: 92px;
    padding-left: 120px;
    padding-right: 120px;

}

.nav-links{
    display : flex;
    list-style-type: none;
    font-size: 16px;
    gap : 32px;
}
.logo-img{
    width: 139px;
    height: 60px;
}
.green-btn{
    font-size: 16px;
    background-color: #30B868;
    border-radius: 4px;
    border : none;
    color: white;
    padding : 12px;

}


.banner{
    background-image: url(assets/hero-bg.png);
    height: 674px;
    display:flex;
    align-items: center;
    justify-content: center;

    padding-left: 120px;
    padding-right: 120px;
    
}
.banner-container{
    display: flex;  
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    gap: 28px;
}
.highlight-text{
    font-weight: bold;
    font-size: 72px;
    color : white;
}
.green-text{
    font-weight: bold;
    font-size: 72px;
    color :#30B868;
}

.subtitle{
    font-size: 18px;
    color : white;
}
.white-btn{
    color :white;
    border-radius: 4px;
    background-color: transparent;
    padding : 12px;
    border-color: white;
}
.early{
    background-color: white;
    color: #30B868;
    border-radius: 24px;
    padding : 6px;
    border: none;
}
.btn-container{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.card > button {
    width: 60px;
    height: 60px;
    border : none;
    background-color :rgba(249, 85, 85, 1);
    border-radius : 50%;
}
.card > h3 {
    font-size: 24px;
    text-align: center;
}
.card > p{
    font-size: 16px;
    color: gray;
    text-align: center;
}
.notes-title{
    font-style: Bold;
    font-size: 48px;

}
.notes-subtitle{
    font-size: 16px;
    color: gray;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 16px;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    padding: 24px;
    border-radius: 12px;
}

.card-container{
    display: flex;
    flex-direction: row;
    gap : 24px;
    justify-content: space-around;
}
.notes-section{
    padding: 60px 120px 60px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap : 40px;
    background-color: rgb(255, 251, 251);
} 